body {
  background-color: rgba(0, 0, 0, 0);
  font-family:'News Cycle', sans-serif;
  color: black;
  font-size: 1em;
  line-height: 1.35em;
  font-weight: 400;
}
h1 {
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 20px;
  font-family: Lobster, sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 700;
}
h2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 25px;
  padding-bottom: 15px;
  color: #009ec0;
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
}
h3 {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgba(0, 158, 192, 0.70);
  font-size: 1.3em;
  font-weight: 700;
}
h4 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 0px 0px 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: block;
  margin-top: 13px;
  margin-right: 45px;
  padding: 12px 15px;
  float: right;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.34);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.49);
  box-shadow: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Lobster, sans-serif;
  color: #475f77;
  font-size: 1.8em;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.button.button-dark {
  margin-left: 20px;
  background-color: rgba(71, 184, 209, 0.8);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #f9f9f9;
  font-size: 1.6em;
}
.button:hover.button-dark:hover {
  background-color: #47b8d1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.menuitem {
  margin-right: 8px;
  padding: 0px;
}
.headercontainer {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}
.headersection {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f9f9f9;
}
.contentsection.dark {
  background-color: #80f2b2;
}
.footersection {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f9f9f9;
}
.navitem {
  margin-left: 23px;
  padding-right: 0px;
  padding-left: 0px;
  opacity: 0.5;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #2b3d4f;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}
.navitem:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #475f77;
  text-shadow: none;
}
.navitem.navitemv2 {
  display: block;
  margin-left: 0px;
  padding: 10px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footercontainer {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.contentcontainer {
  background-color: rgba(0, 0, 0, 0);
}
.title {
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  font-family:'Ubuntu Condensed', sans-serif;
  font-size: 4em;
  line-height: 1em;
  font-weight: 700;
  text-decoration: none;
}
.title.redtext {
  color: #d31d8c;
}
.subtitle {
  margin-top: -5px;
  padding-top: 0px;
  text-decoration: none;
}
.credits {
  position: static;
  left: 0px;
  top: 0px;
  overflow: visible;
  float: left;
  clear: none;
  font-size: 0.9em;
  text-decoration: none;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid #dcddd8;
}
.section.dark {
  background-color: #dcddd8;
}
.section.dark.about {
  background-color: #009ec0;
  background-image: url(../images/silvia-450x221-150ppi.jpg);
  background-position: 85% 103%;
  background-repeat: no-repeat no-repeat;
}
.navbar {
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  padding-top: 32px;
  padding-bottom: 21px;
  text-align: right;
}
.logo {
  margin-top: 14px;
  margin-right: 7px;
  float: left;
}
.searchfield {
  padding: 8px 10px;
  float: none;
  font-size: 10px;
  line-height: 12px;
}
.formwrapper {
  height: 30px;
}
.search {
  height: 27px;
  float: right;
}
.sociallinks {
  float: right;
}
.socialicon {
  opacity: 0.35;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon:hover {
  opacity: 0.75;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon.download {
  margin-left: 33px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon.aside {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon:hover.aside:hover {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon.search-icon {
  padding-bottom: 20px;
  border-width: 1px;
  border-color: black;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon.icon-highlight {
  opacity: 0.6;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.socialicon:hover.icon-highlight:hover {
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.footerright {
  padding-right: 60px;
  float: left;
  text-align: right;
}
.portfolioimage {
  padding: 5px;
  border: 1px solid #ecf0f1;
}
.teaserimage {
  border: 1px solid rgba(71, 95, 119, 0.49);
  box-shadow: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.teaserimage:hover {
  border-color: #48b8d2;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.teaserimagecolumn {
  height: 310px;
  background-image: url(../images/carolin-alternative.png);
  background-size: cover;
}
.teaserimagecolumn._2 {
  background-image: url(../images/coursera-hci-prototype-2.png);
}
.teaserimagecolumn._3 {
  background-image: url(../images/screendesign.png);
}
.teaserheaderline {
  position: absolute;
  left: 10px;
  right: 20px;
  bottom: 10px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.49);
}
.teaserheading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  float: none;
  font-size: 1.8em;
  line-height: 1em;
}
.abouttext {
  display: inline-block;
  padding-right: 7px;
  font-size: 1.3em;
  line-height: 35px;
}
.abouttext.light {
  color: #f9f9f9;
}
.abouttext.p-highlight-2 {
  font-family: Metrophobic, sans-serif;
  font-size: 2em;
}
.abouttext.p-highlight-3 {
  font-family: Lobster, sans-serif;
  font-size: 1.9em;
}
.abouttext.p-highlight-4 {
  font-family: Exo, sans-serif;
  font-size: 1.5em;
}
.centerheader {
  text-align: center;
}
.centerheader.testimonialheader {
  color: #009ec0;
}
.testimonialpicture {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.testimonialname {
  text-align: center;
}
.testimonialtext {
  float: none;
  font-size: 17px;
  line-height: 22px;
  font-style: italic;
  text-decoration: none;
}
.aboutheading {
  padding-bottom: 30px;
  color: #475f77;
}
.portfoliorow {
  padding-top: 110px;
}
.portfoliorow.firstrow {
  padding-top: 30px;
}
.porfoliocolumnaside {
  right: 0px;
  bottom: 0px;
  padding-top: 33px;
  padding-left: 10px;
  border-left: 3px solid rgba(211, 29, 140, 0.34);
}
.portfoliointro {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.2em;
  line-height: 1.3em;
}
.portfoliotext {
  padding-top: 10px;
  padding-bottom: 20px;
}
.portfoliotext.picturedesc {
  font-size: 0.9em;
}
.portfoliotext.move-from-right {
  padding-right: 17px;
}
.portfoliotextaside {
  font-size: 1.2em;
  line-height: 1.3em;
}
.portfolioheading {
  font-family: Pompiere, sans-serif;
  font-size: 100px;
}
.t1 {
  right: 0px;
  bottom: 0px;
  z-index: 2;
  margin-bottom: 25px;
  font-family:'Ubuntu Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.04);
  font-size: 6em;
  line-height: 1em;
  text-align: left;
}
.ul {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.asidenav {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  padding-top: 239px;
}
.asidenav.asidenavv2 {
  left: 0px;
}
.asidenav.aside-menu {
  left: 0px;
  padding-top: 231px;
}
.picturecolumn {
  font-size: 0.9em;
}
.picturerow {
  font-size: 0.9em;
}
._4 {
  padding-left: 0px;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
._1 {
  -webkit-transform: rotate(-18deg) translate(39px, 63px);
  -ms-transform: rotate(-18deg) translate(39px, 63px);
  -o-transform: rotate(-18deg) translate(39px, 63px);
  transform: rotate(-18deg) translate(39px, 63px);
}
._2 {
  -webkit-transform: translate(0px, 118px);
  -ms-transform: translate(0px, 118px);
  -o-transform: translate(0px, 118px);
  transform: translate(0px, 118px);
}
._3 {
  -webkit-transform: rotate(-18deg) translate(-75px, 51px);
  -ms-transform: rotate(-18deg) translate(-75px, 51px);
  -o-transform: rotate(-18deg) translate(-75px, 51px);
  transform: rotate(-18deg) translate(-75px, 51px);
}
._5 {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.imageright {
  display: block;
  float: none;
  text-align: right;
}
.sidenavblock {
  padding: 5px 7px 5px 5px;
  border: 3px none rgba(211, 29, 140, 0.49);
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: rgba(232, 149, 200, 0.85);
}
.sidenavblock.aside-nav-menu {
  background-color: rgba(249, 249, 249, 0.85);
}
.asideh3 {
  padding-top: 25px;
}
.asidelink {
  display: block;
}
.asidelink.search-icon {
  padding-bottom: 20px;
}
.asidelink.bigger {
  width: 60px;
}
.testimonialheader {
  padding-bottom: 50px;
}
.header-wrapper {
  position: static;
  left: 0px;
  top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f9f9f9;
}
.footer-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(71, 95, 119, 0.83);
}
.content-wrapper {
  padding-top: 90px;
  padding-right: 65px;
  padding-bottom: 120px;
}
.content-wrapper.blue {
  background-color: rgba(0, 157, 191, 0.8);
  color: #f9f9f9;
}
.content-wrapper.blue.about {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/me-w.png);
  background-position: 93% 43%;
  background-size: auto;
  background-repeat: no-repeat no-repeat;
  background-attachment: scroll;
}
.content-wrapper.grey {
  background-color: #dfe5e8;
}
.content-wrapper.bg-about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(71, 184, 209, 0.74);
  background-image: url(../images/me-w.png);
  background-position: 86% 100%;
  background-repeat: no-repeat no-repeat;
  color: white;
}
.content-wrapper.blue2 {
  background-color: #475f77;
}
.portfolio-image {
  display: block;
  padding: 8px;
  border-style: none;
  border-width: 1px 1px 3px;
  border-color: #fcd271 #fcd271 white;
  background-color: rgba(0, 158, 192, 0.04);
}
.portfolio-image.white {
  background-color: white;
}
.portfolio-image.center {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-image.flow {
  max-width: 200px;
  float: right;
}
.search-field {
  max-width: 205px;
  float: right;
  border: 1px none black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-style: italic;
}
.search-form {
  min-width: 200px;
  float: right;
}
.form-wrapper {
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 0px;
}
.portfolio-image-link {
  display: inline-block;
  margin: 3px;
}
.image-text {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 0.9em;
  line-height: 1.2em;
}
.picture-column {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-style: none solid none none;
  border-width: 1px 5px 1px 1px;
  border-color: rgba(0, 158, 192, 0.09) white rgba(0, 158, 192, 0.09) rgba(0, 158, 192, 0.09);
  background-color: rgba(0, 0, 0, 0);
}
.header-block {
  color: rgba(71, 94, 119, 0.74);
  text-decoration: none;
}
.sidenav-apart {
  padding-bottom: 25px;
}
.blue {
  background-color: #47b8d1;
}
.p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p.p-inline {
  display: inline;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
}
.p-highlight {
  display: inline;
  margin-bottom: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  color: #47b8d1;
  font-style: normal;
  font-weight: 700;
}
.about-text-block {
  padding-right: 30px;
  padding-left: 73px;
}
.button-row {
  padding-top: 25px;
  padding-bottom: 50px;
}
.span {
  display: inline;
}
.fancyvideos {
  background-color: rgba(0, 0, 0, 0);
}
.nofancy {
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.5em;
  }
  .button {
    margin-right: 57px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 1.6em;
  }
  .button.button-dark {
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .navitem {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .section.dark.about {
    background-image: url(../images/silvia-450x221-150ppi.jpg);
    background-position: 120% 104%;
  }
  .socialicon {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .socialicon.icon-highlight {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .teaserimage {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .teasersubtitle {
    font-size: 0.95em;
    line-height: 1.1em;
  }
  .teaserheading {
    font-size: 1.35em;
  }
  .abouttext {
    font-size: 1.25em;
  }
  .abouttext.p-highlight-2 {
    font-size: 1.8em;
  }
  .aboutheading {
    font-size: 2.3em;
  }
  .portfoliorow.firstrow {
    padding-top: 25px;
  }
  .t1 {
    left: 0px;
    top: 0px;
    font-size: 54px;
  }
  .asidenav {
    z-index: 1;
  }
  .testimonialheader {
    font-size: 2.3em;
  }
  .content-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
  }
  .content-wrapper.bg-about {
    background-image: url(../images/me-w.png);
    background-position: 94% 100%;
    background-size: 40%;
  }
  .about-text-block {
    padding-right: 17px;
    padding-left: 38px;
  }
}
@media (max-width: 767px) {
  .button {
    margin-right: 189px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .button.button-dark {
    margin-right: 11px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .headersection {
    padding: 10px;
  }
  .footersection {
    padding-top: 15px;
    padding-bottom: 15px;
    float: none;
  }
  .title {
    font-size: 3.4em;
  }
  .subtitle {
    font-size: 0.9em;
  }
  .credits {
    display: inline;
  }
  .section {
    padding: 25px 10px;
  }
  .section.dark.about {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url(../images/silvia-450x221-150ppi.jpg);
    background-position: 89% 90%;
    background-size: cover;
  }
  .navbar {
    left: 0px;
  }
  .socialicon {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .socialicon.icon-highlight {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .teaserimage {
    display: block;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .teaserheaderline {
    padding: 3px;
  }
  .teasersubtitle {
    line-height: 18px;
  }
  .teaserheading {
    font-size: 23px;
  }
  .abouttext {
    margin-right: 1px;
    padding-right: 158px;
    font-size: 1.2em;
    line-height: 30px;
  }
  .abouttext.p-highlight-2 {
    font-size: 1.7em;
  }
  .centerheader.testimonialheader {
    font-size: 35px;
  }
  .teasercolumn {
    padding-right: 3px;
    padding-left: 3px;
  }
  .porfoliocolumnaside {
    left: 0px;
    top: 0px;
    margin-top: 30px;
    padding-top: 0px;
  }
  .t1 {
    left: 0px;
    display: none;
    margin-bottom: 0px;
  }
  .asidenav {
    padding-top: 264px;
  }
  .header-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content-wrapper {
    padding: 35px 65px 35px 15px;
  }
  .content-wrapper.bg-about {
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url(../images/me-w.png);
    background-position: 100% 100%;
    background-size: 45%;
  }
  .portfolio-image {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 158, 192, 0.04);
  }
  .image-text {
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .picture-column {
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0);
  }
  .about-text-block {
    padding-left: 17px;
  }
}
@media (max-width: 479px) {
  body {
    font-size: 0.9em;
  }
  h1 {
    margin-top: 0px;
  }
  h2 {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  h3 {
    padding-top: 20px;
  }
  .button {
    margin-right: 0px;
    padding: 8px;
    float: left;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .button.button-dark {
    float: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 1.3em;
  }
  .navitem {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .subtitle {
    padding-top: 0px;
  }
  .credits {
    float: none;
  }
  .section.dark.about {
    background-image: url(../images/silvia-450x221-150ppi.jpg);
    background-position: 0px 100%;
    background-size: auto 100px;
    background-repeat: no-repeat no-repeat;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 0px;
  }
  .socialicon {
    width: 65px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .socialicon.icon-highlight {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .footerright {
    display: block;
    padding-right: 10px;
    float: none;
    text-align: center;
  }
  .teaserimage {
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .teaserimagecolumn {
    background-image: url(../images/carolin-alternative.png);
  }
  .teaserheaderline {
    bottom: 20px;
  }
  .abouttext {
    padding-right: 54px;
    line-height: 28px;
  }
  .aboutheading {
    padding-right: 0px;
    padding-bottom: 9px;
  }
  .footerrow {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .teasercolumn {
    padding-bottom: 10px;
  }
  .portfoliorow.firstrow {
    padding-top: 0px;
  }
  .porfoliocolumnaside {
    margin-top: 10px;
  }
  .portfoliointro {
    padding-bottom: 10px;
  }
  .t1 {
    left: 0px;
  }
  .sidenavblock {
    padding-right: 5px;
  }
  .asideh3 {
    padding-top: 5px;
  }
  .asidelink {
    width: 40px;
  }
  .content-wrapper {
    padding-right: 55px;
  }
  .content-wrapper.bg-about {
    background-image: url(../images/me-w.png);
    background-position: 96% 100%;
    background-size: 45%;
  }
  .portfolio-image {
    width: 90%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .about-text-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .button-row {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* remove not yet used features */
#to-search, #recommendation {
    display:none;
}