#t-39400a87-e607-4a7a-af29-e4c102343b2b {
  background-color: #FFFFFF;
  min-width: 412px;
  min-height: 769px;
}
#t-39400a87-e607-4a7a-af29-e4c102343b2b #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-39400a87-e607-4a7a-af29-e4c102343b2b #t-Group_1 {
  position: absolute;
  top: 16px;
  left: 32px;
  width: 380px;
  height: 753px;
}
#t-39400a87-e607-4a7a-af29-e4c102343b2b #t-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#t-39400a87-e607-4a7a-af29-e4c102343b2b #t-Dynamic_Panel_1 {
  position: absolute;
  top: 133px;
  left: 31px;
}
#t-39400a87-e607-4a7a-af29-e4c102343b2b #t-Panel_1 {
  width: 321px;
  height: 481px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}