#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Label_1 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 8f327fb8-0cdf-4bac-af3e-b76d44375b9a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}