#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e {
  background-color: #FFFFFF;
  min-width: 412px;
  min-height: 769px;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Image_1 {
  position: absolute;
  top: 16px;
  left: 32px;
  width: 380px;
  height: 753px;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Rectangle_1 {
  position: absolute;
  top: 168px;
  left: 63px;
  width: 321px;
  height: 465px;
  background-color: #F1F1F1;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Label_1 {
  position: absolute;
  top: 168px;
  left: 63px;
  width: 321px;
  height: 47px;
  background-color: #33CCFF;
  background-image: url('../../images/498479c0-6846-4278-83a4-4606fb761829.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Eurostile;
  font-size: 18pt;
  font-style: normal;
  font-weight: bold;
  line-height: 18pt;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Label_1 .valign {
  vertical-align: middle;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Image_2 {
  position: absolute;
  top: 149px;
  left: 63px;
  width: 321px;
  height: 20px;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Group_4 {
  position: absolute;
  top: 176px;
  left: 142px;
  width: 155px;
  height: 32px;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Label_3 {
  position: absolute;
  top: 0px;
  left: 12px;
  padding-left: 5px;
  width: 138px;
  height: 32px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Label_3 .valign {
  vertical-align: middle;
}
#t-3c7bb0cf-763e-46aa-82b1-5a8029d6383e #t-Image_40 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 20px;
  height: 20px;
}