#t-58d7c385-1e0e-4e02-a0fc-89cf7dc06af4 #t-Label_1 {
  background-color: transparent;
  background-image: url('../../images/[Generated] d620f4c7-411c-4879-a6ee-d2d878d73378.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#t-58d7c385-1e0e-4e02-a0fc-89cf7dc06af4 #t-Rectangle_3 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 3a3de429-1025-4851-a01f-aa0e97d4474a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#t-58d7c385-1e0e-4e02-a0fc-89cf7dc06af4 #t-Label_2 {
  background-color: transparent;
  background-image: url('../../images/[Generated] a61afbbf-2099-4da4-b2d2-213e45c5a89c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}