#t-8d26c8a8-be91-4b64-a7ea-ffff97049506 {
  background-color: #FFFFFF;
  min-width: 0px;
  min-height: 0px;
}
#t-8d26c8a8-be91-4b64-a7ea-ffff97049506 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}