#t-d0c32080-e7c4-4fe2-8606-27d924d1c552 #t-Rectangle_2 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 5d8bf136-9616-4f22-b8cf-651787288690.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#t-d0c32080-e7c4-4fe2-8606-27d924d1c552 #t-Label_4 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 40881006-66ca-4317-b4f9-ca41b81a5571.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}