@font-face {
    font-family: 'PWSmallIcons';
    src: url('./fonts/pwsmallicons-webfont.eot');
    src: url('./fonts/pwsmallicons-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/pwsmallicons-webfont.woff') format('woff'),
         url('./fonts/pwsmallicons-webfont.ttf') format('truetype'),
         url('./fonts/pwsmallicons-webfont.svg#pwsmalliconsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Another';
    src: url('./fonts/another_-webfont.eot');
    src: url('./fonts/another_-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/another_-webfont.woff') format('woff'),
         url('./fonts/another_-webfont.ttf') format('truetype'),
         url('./fonts/another_-webfont.svg#AnotherRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Euphemia UCAS';
    src: url('./fonts/euphemia_ucas_regular_2.6.6-webfont.eot');
    src: url('./fonts/euphemia_ucas_regular_2.6.6-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/euphemia_ucas_regular_2.6.6-webfont.woff') format('woff'),
         url('./fonts/euphemia_ucas_regular_2.6.6-webfont.ttf') format('truetype'),
         url('./fonts/euphemia_ucas_regular_2.6.6-webfont.svg#euphemia_ucasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

