#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd {
  background-color: transparent;
  min-width: 797px;
  min-height: 647px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_4 {
  position: absolute;
  top: 147px;
  left: 64px;
  width: 320px;
  height: 20px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_3 {
  position: absolute;
  top: 167px;
  left: 64px;
  width: 321px;
  height: 464px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rectangle_2 {
  position: absolute;
  top: 445px;
  left: 79px;
  width: 70px;
  height: 76px;
  background-color: #030912;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_2 {
  position: absolute;
  top: 450px;
  left: 148px;
  width: 108px;
  height: 40px;
  background-color: #FFFFB3;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  font-size: 8pt;
  font-family: Arial;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_1 {
  position: absolute;
  top: 467px;
  left: 139px;
  width: 11px;
  height: 16px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-App_icon {
  position: absolute;
  top: 448px;
  left: 79px;
  width: 63px;
  height: 74px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Group_10 {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 58px;
  height: 58px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rectangle_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  background-color: #131313;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -webkit-border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  -moz-border-radius-topright: 11px;
  -webkit-border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  -moz-border-radius-bottomleft: 11px;
  -webkit-border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  -moz-border-radius-bottomright: 11px;
  -webkit-border-bottom-right-radius: 11px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_39 {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 40px;
  height: 40px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_115 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 57px;
  height: 57px;
  opacity: 0.52;
  cursor: pointer;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Label_17 {
  position: absolute;
  top: 57px;
  left: 0px;
  width: 63px;
  height: 17px;
  background-color: transparent;
  cursor: pointer;
  color: #C6C6C5;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  line-height: 8pt;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Label_17 .valign {
  vertical-align: middle;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Background_stripes {
  position: absolute;
  top: 167px;
  left: 65px;
  width: 320px;
  height: 480px;
  background-color: #FFFFFF;
  background-image: url('../../images/03b6dd88-a7c2-4387-9cd4-7820e0f02635.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
  opacity: 0.62;
  display: none;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Alert_dialog {
  position: absolute;
  top: 237px;
  left: 86px;
  width: 276px;
  height: 165px;
  display: none;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Group_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 276px;
  height: 165px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 276px;
  height: 31px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_33 {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 276px;
  height: 110px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_31 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 276px;
  height: 24px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Label_31 {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 256px;
  height: 22px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Label_31 .valign {
  vertical-align: middle;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_15 {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 240px;
  height: 58px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Arial;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_15 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_15 span#rtr-s-Rich_text_15_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_18 {
  position: absolute;
  top: 104px;
  left: 141px;
  width: 119px;
  height: 33px;
  background-color: transparent;
  background-image: url('../../images/49a3e64b-066c-40e4-84f4-b99ee91405cc.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_18 span#rtr-s-Rich_text_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_20 {
  position: absolute;
  top: 104px;
  left: 8px;
  width: 119px;
  height: 33px;
  background-color: transparent;
  background-image: url('../../images/c6389504-aee2-4b19-b2f8-7600a0048094.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_20 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_1 {
  position: absolute;
  top: 230px;
  left: 530px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 257px;
  height: 196px;
  background-color: transparent;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_1 span#rtr-s-Rich_text_1_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_3 {
  position: absolute;
  top: 290px;
  left: 530px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 257px;
  height: 196px;
  background-color: transparent;
  display: none;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}