#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_2 {
  background-image: url('../../images/[Generated] 7cac57db-ab8e-4b84-8cc1-6900a2591237.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 112px;
  height: 44px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rectangle_9 {
  background-image: url('../../images/[Generated] c6b8a768-4248-4b86-8f3e-5dd7a82fa73c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 46px;
  height: 46px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Image_115 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52);
  filter: alpha(opacity=52);
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Background_stripes {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=62);
  filter: alpha(opacity=62);
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_18 {
  background-image: url('../../images/[Generated] fcbcf418-1968-4047-ba13-be94a0a3eb18.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}
#s-2b75f24e-58e2-4891-8dd7-ebf81ec8dbcd #s-Rich_text_20 {
  background-image: url('../../images/[Generated] 0fa4dc0b-67be-4f60-8f9a-2aac461c9cf8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}