#s-66a752f8-9a15-4493-be81-be6ed455879a #s-Button_1 {
  background-image: url('../../images/[Generated] f3293717-1bdd-4e94-b2e0-84a179214806.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 64px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
#s-66a752f8-9a15-4493-be81-be6ed455879a #s-Button_3 {
  background-image: url('../../images/[Generated] df3901ba-6156-4fa3-a4a6-94feb01ebe9c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 44px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
#s-66a752f8-9a15-4493-be81-be6ed455879a #s-Button_2 {
  background-image: url('../../images/[Generated] 64c78d82-e5d5-49aa-8b47-8a6d654be209.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 44px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-66a752f8-9a15-4493-be81-be6ed455879a #s-Rectangle_14 {
  background-image: url('../../images/[Generated] 6ba40101-d269-48b0-8e24-17910aa3206d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-66a752f8-9a15-4493-be81-be6ed455879a #s-Rectangle_11 {
  background-image: url('../../images/[Generated] 77052d24-2ce0-4cdf-998b-60fcad83ae2c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}