#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 {
  background-color: transparent;
  min-width: 797px;
  min-height: 633px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_3 {
  position: absolute;
  top: 176px;
  left: 88px;
  padding-left: 5px;
  width: 276px;
  height: 32px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 13pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 216px;
  left: 63px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Time {
  width: 321px;
  height: 417px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel {
  position: absolute;
  top: 367px;
  left: 0px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-AdaptSearch {
  position: absolute;
  top: 112px;
  left: 30px;
  width: 267px;
  height: 19px;
  background-color: transparent;
  cursor: pointer;
  font-size: 11pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-AdaptSearch .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-AdaptSearch span {
  color: #33A4DF;
  text-align: left;
  text-decoration: underline;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-AdaptSearch span#rtr-s-AdaptSearch_0 {
  color: #33A4DF;
  text-align: left;
  text-decoration: underline;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Category_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Category_1 {
  position: absolute;
  top: 137px;
  left: 26px;
  padding-left: 5px;
  width: 260px;
  height: 194px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next {
  position: absolute;
  top: 367px;
  left: 161px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_2 {
  position: absolute;
  top: 37px;
  left: 30px;
  width: 263px;
  height: 71px;
  background-color: transparent;
  font-size: 10pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_2 span#rtr-s-Rich_text_2_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 11pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_7 {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 263px;
  height: 26px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-AdaptSearch_Panel {
  width: 321px;
  height: 417px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel_1 {
  position: absolute;
  top: 367px;
  left: 0px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel_1 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next_1 {
  position: absolute;
  top: 367px;
  left: 161px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next_1 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_3 {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 263px;
  height: 26px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Slider {
  position: absolute;
  top: 88px;
  left: 30px;
  width: 268px;
  height: 22px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_14 {
  position: absolute;
  top: 6px;
  left: 137px;
  width: 123px;
  height: 2px;
  background-color: #BBBBBB;
  background-image: -moz-linear-gradient(top,#BBBBBB,#FFFFFF);
  background-image: -webkit-linear-gradient(top,#BBBBBB,#FFFFFF);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#BBBBBB), color-stop(100%,#FFFFFF));
  background-image: -o-linear-gradient(top,#BBBBBB,#FFFFFF);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_11 {
  position: absolute;
  top: 6px;
  left: 0px;
  width: 136px;
  height: 2px;
  background-color: #3367B9;
  background-image: -moz-linear-gradient(top,#3367B9,#73A8F3);
  background-image: -webkit-linear-gradient(top,#3367B9,#73A8F3);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3367B9), color-stop(100%,#73A8F3));
  background-image: -o-linear-gradient(top,#3367B9,#73A8F3);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #3B6FC0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #3B6FC0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3B6FC0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #3B6FC0;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_50 {
  position: absolute;
  top: 0px;
  left: 127px;
  width: 22px;
  height: 22px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_2 {
  position: absolute;
  top: 109px;
  left: 148px;
  padding-left: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_4 {
  position: absolute;
  top: 69px;
  left: 30px;
  width: 263px;
  height: 26px;
  background-color: transparent;
  font-size: 11pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_4 span {
  color: #4C4C4C;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #4C4C4C;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_5 {
  position: absolute;
  top: 169px;
  left: 30px;
  width: 263px;
  height: 26px;
  background-color: transparent;
  font-size: 11pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_5 span {
  color: #4C4C4C;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #4C4C4C;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Add_icon_blue {
  position: absolute;
  top: 223px;
  left: 269px;
  width: 27px;
  height: 28px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Delete_icon {
  position: absolute;
  top: 193px;
  left: 269px;
  width: 27px;
  height: 27px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_6 {
  position: absolute;
  top: 193px;
  left: 30px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 227px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  font-size: 11pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Location {
  width: 321px;
  height: 417px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel_2 {
  position: absolute;
  top: 367px;
  left: 0px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel_2 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next_2 {
  position: absolute;
  top: 367px;
  left: 161px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next_2 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_9 {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 263px;
  height: 26px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_11 {
  position: absolute;
  top: 72px;
  left: 30px;
  width: 263px;
  height: 230px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Pin_green {
  position: absolute;
  top: 158px;
  left: 146px;
  width: 30px;
  height: 38px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Location_info {
  position: absolute;
  top: 95px;
  left: 31px;
  width: 291px;
  height: 61px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_113 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 260px;
  height: 9px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 254px;
  height: 35px;
  background-color: transparent;
  background-image: url('../../images/f0c8567c-5588-495d-9520-4e984d86bd29.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_114 {
  position: absolute;
  top: 41px;
  left: 111px;
  width: 29px;
  height: 20px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_88 {
  position: absolute;
  top: 4px;
  left: 44px;
  width: 168px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 13pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_88 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_89 {
  position: absolute;
  top: 22px;
  left: 44px;
  width: 247px;
  height: 20px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 9pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_89 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Arrow_icon_1 {
  position: absolute;
  top: 8px;
  left: 223px;
  width: 27px;
  height: 28px;
  cursor: pointer;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Arrow_icon_2 {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 27px;
  height: 28px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Input_1 {
  position: absolute;
  top: 315px;
  left: 31px;
  padding-left: 5px;
  width: 254px;
  height: 18px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  cursor: text;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_10 {
  position: absolute;
  top: 37px;
  left: 30px;
  width: 263px;
  height: 44px;
  background-color: transparent;
  font-size: 10pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Panel_1 {
  width: 321px;
  height: 417px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Activity {
  width: 321px;
  height: 417px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel_3 {
  position: absolute;
  top: 367px;
  left: 0px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Cancel_3 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next_3 {
  position: absolute;
  top: 367px;
  left: 161px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Next_3 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_8 {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 263px;
  height: 26px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_1 {
  position: absolute;
  top: 129px;
  left: 42px;
  padding-left: 5px;
  width: 50px;
  height: 22px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_4 {
  position: absolute;
  top: 139px;
  left: 126px;
  padding-left: 5px;
  width: 83px;
  height: 28px;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  line-height: 15pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_5 {
  position: absolute;
  top: 119px;
  left: 222px;
  padding-left: 5px;
  width: 51px;
  height: 22px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_6 {
  position: absolute;
  top: 110px;
  left: 106px;
  padding-left: 5px;
  width: 63px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_7 {
  position: absolute;
  top: 215px;
  left: 184px;
  padding-left: 5px;
  width: 54px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_8 {
  position: absolute;
  top: 164px;
  left: 242px;
  padding-left: 5px;
  width: 50px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_9 {
  position: absolute;
  top: 177px;
  left: 159px;
  padding-left: 5px;
  width: 63px;
  height: 22px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_9 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_10 {
  position: absolute;
  top: 250px;
  left: 68px;
  padding-left: 5px;
  width: 178px;
  height: 28px;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 15pt;
  font-style: normal;
  font-weight: normal;
  line-height: 15pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_11 {
  position: absolute;
  top: 164px;
  left: 52px;
  padding-left: 5px;
  width: 50px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Search_bar {
  position: absolute;
  top: 324px;
  left: 0px;
  width: 321px;
  height: 44px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 321px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: url('../../images/bbb99841-89de-4eb3-bba7-f8c0333a8953.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_16 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 295px;
  height: 12px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #838383;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #838383;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #838383;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #838383;
  border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Input_7 {
  position: absolute;
  top: 7px;
  left: 18px;
  padding-left: 18px;
  width: 270px;
  height: 30px;
  background-color: transparent;
  cursor: text;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Input_7 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_40 {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 14px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_11 {
  position: absolute;
  top: 37px;
  left: 30px;
  width: 263px;
  height: 44px;
  background-color: transparent;
  font-size: 10pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_12 {
  position: absolute;
  top: 198px;
  left: 42px;
  padding-left: 5px;
  width: 88px;
  height: 20px;
  background-color: transparent;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  line-height: 10pt;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Delete_application {
  position: absolute;
  top: 255px;
  left: 255px;
  width: 25px;
  height: 24px;
  display: none;
  cursor: pointer;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 184px;
  left: 307px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-TimeDot {
  width: 67px;
  height: 15px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 67px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 52px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-LocationDot {
  width: 67px;
  height: 15px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 67px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 52px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-ActivityDot {
  width: 67px;
  height: 15px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 67px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_8 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 52px;
  width: 15px;
  height: 15px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Transparent_Overlay {
  position: absolute;
  top: 168px;
  left: 63px;
  width: 321px;
  height: 465px;
  background-color: transparent;
  background-image: url('../../images/23add738-b97b-499c-831e-a1418300351b.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll;
  display: none;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_12 {
  position: absolute;
  top: 255px;
  left: 89px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 229px;
  height: 86px;
  background-color: #F1F1F1;
  display: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 12pt;
  font-family: Euphemia UCAS;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_12 span#rtr-s-Rich_text_12_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_12 span#rtr-s-Rich_text_12_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_12 span#rtr-s-Rich_text_12_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 {
  position: absolute;
  top: 230px;
  left: 530px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 257px;
  height: 224px;
  background-color: transparent;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_4 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_5 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_6 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_13 span#rtr-s-Rich_text_13_7 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}