#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_14 {
  background-image: url('../../images/[Generated] 78203d86-0dd7-4dad-ad3b-6a8047c4e540.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_11 {
  background-image: url('../../images/[Generated] 1d39b31f-2d87-4b13-8d7b-3a66f77d4f0f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rich_text_6 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 0a2ee23e-b411-4366-a6e8-84f37df8f051.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_7 {
  background-image: url('../../images/[Generated] e3f3ee0a-f997-4753-9cf5-99eb3552750f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 256px;
  height: 37px;
}
#s-77de5b6b-b61c-43ac-a9f2-9608de888d68 #s-Rectangle_16 {
  background-image: url('../../images/[Generated] 02f9359e-52a6-49e8-bfae-78282d55d3e1.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 297px;
  height: 14px;
}