#s-91486393-d86e-4161-9e0c-9898be395c22 #s-Rich_text_6 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 0e297c1d-4553-483a-999f-a27251a47085.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-91486393-d86e-4161-9e0c-9898be395c22 #s-Rich_text_7 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 6c78c811-36fa-4d93-a05b-6c522fbd0398.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-91486393-d86e-4161-9e0c-9898be395c22 #s-Rich_text_8 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 8830ee49-5b93-4129-8195-f176f2582659.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}
#s-91486393-d86e-4161-9e0c-9898be395c22 #s-Rich_text_14 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 12b709bd-f92c-433c-8232-8e6dd61025e2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}