#s-b3ceee1f-f8ec-433d-be6f-29de05750215 #s-Rectangle_1 {
  background-color: transparent;
  background-image: url('../../images/[Generated] 21b35ba9-52eb-4519-a525-dfa0695e8051.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
}