#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b {
  background-color: transparent;
  min-width: 797px;
  min-height: 633px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Label_3 {
  position: absolute;
  top: 176px;
  left: 88px;
  padding-left: 5px;
  width: 276px;
  height: 32px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 13pt;
  font-style: normal;
  font-weight: bold;
  line-height: 13pt;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Label_3 .valign {
  vertical-align: middle;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Label_4 {
  position: absolute;
  top: 584px;
  left: 224px;
  width: 158px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../images/1e0db6e1-92c2-48ac-b516-50aeff7affc7.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #33A4DF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #33A4DF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #33A4DF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #33A4DF;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Label_4 .valign {
  vertical-align: middle;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 {
  position: absolute;
  top: 392px;
  left: 90px;
  width: 269px;
  height: 122px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Euphemia UCAS;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_4 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_5 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_10 span#rtr-s-Rich_text_10_6 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Image_1 {
  position: absolute;
  top: 232px;
  left: 90px;
  width: 150px;
  height: 150px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_11 {
  position: absolute;
  top: 532px;
  left: 90px;
  width: 269px;
  height: 30px;
  background-color: transparent;
  font-size: 11pt;
  font-family: Euphemia UCAS;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_11 span#rtr-s-Rich_text_11_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_15 {
  position: absolute;
  top: 230px;
  left: 530px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 257px;
  height: 224px;
  background-color: transparent;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-ca177b0c-f516-40d6-9ec5-78d49b70a29b #s-Rich_text_15 span#rtr-s-Rich_text_15_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}