#s-f74e04ec-112f-4e47-9f4c-11814dab8944 {
  background-color: transparent;
  min-width: 797px;
  min-height: 634px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_4 {
  position: absolute;
  top: 172px;
  left: 66px;
  width: 70px;
  height: 40px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Image_8 {
  position: absolute;
  top: 2px;
  left: 23px;
  width: 25px;
  height: 25px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Label_4 {
  position: absolute;
  top: 27px;
  left: 10px;
  width: 50px;
  height: 12px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.5;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_6 {
  position: absolute;
  top: 172px;
  left: 331px;
  width: 50px;
  height: 40px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Image_4 {
  position: absolute;
  top: 2px;
  left: 12px;
  width: 25px;
  height: 25px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Label_3 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 50px;
  height: 12px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 42px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.2;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_3 .valign {
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_3 {
  position: absolute;
  top: 172px;
  left: 279px;
  width: 50px;
  height: 40px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Image_3 {
  position: absolute;
  top: 2px;
  left: 12px;
  width: 25px;
  height: 25px;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Label_2 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 50px;
  height: 12px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 7pt;
  font-style: normal;
  font-weight: bold;
  line-height: 7pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 42px;
  height: 32px;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#EBEADB);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#EBEADB));
  background-image: -o-linear-gradient(top,#FFFFFF,#EBEADB);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  opacity: 0.2;
  cursor: pointer;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 8pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-VisibleTasks {
  position: absolute;
  top: 217px;
  left: 63px;
  width: 321px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-VisibleTasks tr.odd {
  background-color: #FFFFFF;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-VisibleTasks tr.even {
  background-color: #F0F0F0;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Row_2 {
  background-color: transparent;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Row_cell_7 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Row_cell_7 {
  width: 319px;
  height: 0px;
  background-color: #ECEBDD;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9E9E9E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #9E9E9E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9E9E9E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #9E9E9E;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Category_1 {
  position: absolute;
  top: 0px;
  left: 133px;
  padding-left: 5px;
  width: 45px;
  height: 18px;
  background-color: #FFFFFF;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Category_1 .valign {
  width: 27px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Row_1 {
  background-color: transparent;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Row_cell_8 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Row_cell_8 {
  width: 321px;
  height: 85px;
  background-color: transparent;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_2 {
  position: absolute;
  top: 5px;
  left: 85px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 221px;
  height: 65px;
  background-color: transparent;
  cursor: text;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Euphemia UCAS;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_7 {
  position: absolute;
  top: 3px;
  left: 299px;
  display: none;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Image_1 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 75px;
  height: 75px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_8 {
  position: absolute;
  top: 15px;
  left: 192px;
  width: 120px;
  height: 20px;
  background-color: transparent;
  display: none;
  cursor: text;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_8 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_3 {
  position: absolute;
  top: 34px;
  left: 192px;
  width: 120px;
  height: 20px;
  background-color: transparent;
  display: none;
  cursor: text;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 8pt;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Input_3 input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Image_map_1 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 313px;
  height: 75px;
  cursor: pointer;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rectangle_1 {
  position: absolute;
  top: 169px;
  left: 63px;
  width: 321px;
  height: 465px;
  background-color: #404040;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.8;
  cursor: pointer;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Dynamic_Panel_2 {
  position: absolute;
  top: 168px;
  left: 63px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Panel_3 {
  width: 321px;
  height: 466px;
  background-color: transparent;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_5 {
  position: absolute;
  top: 25px;
  left: 35px;
  width: 280px;
  height: 133px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_5 {
  position: absolute;
  top: 43px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 270px;
  height: 80px;
  background-color: transparent;
  line-height: 25px;
  font-size: 22pt;
  font-family: Another;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_7 {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 71px;
  height: 57px;
  background-color: transparent;
  font-size: 36pt;
  font-family: PWSmallIcons;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_7 span#rtr-s-Rich_text_7_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Panel_4 {
  width: 321px;
  height: 466px;
  background-color: transparent;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_7 {
  position: absolute;
  top: 30px;
  left: 90px;
  width: 200px;
  height: 130px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_6 {
  position: absolute;
  top: 0px;
  left: 79px;
  width: 68px;
  height: 57px;
  background-color: transparent;
  font-size: 36pt;
  font-family: PWSmallIcons;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_6 span#rtr-s-Rich_text_6_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Times New Roman;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_3 {
  position: absolute;
  top: 40px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 190px;
  height: 80px;
  background-color: transparent;
  line-height: 25px;
  font-size: 22pt;
  font-family: Another;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Panel_11 {
  width: 321px;
  height: 466px;
  background-color: transparent;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_2 {
  position: absolute;
  top: 42px;
  left: 30px;
  width: 265px;
  height: 142px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_2 {
  position: absolute;
  top: 82px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 255px;
  height: 50px;
  background-color: transparent;
  line-height: 25px;
  font-size: 22pt;
  font-family: Another;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_10 {
  position: absolute;
  top: 0px;
  left: 99px;
  width: 71px;
  height: 57px;
  background-color: transparent;
  font-size: 36pt;
  font-family: PWSmallIcons;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Panel_10 {
  width: 321px;
  height: 466px;
  background-color: transparent;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 106px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_4 {
  position: absolute;
  top: 46px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 240px;
  height: 50px;
  background-color: transparent;
  line-height: 25px;
  font-size: 22pt;
  font-family: Another;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Another;
  font-size: 22pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_8 {
  position: absolute;
  top: 0px;
  left: 47px;
  width: 71px;
  height: 57px;
  background-color: transparent;
  font-size: 36pt;
  font-family: PWSmallIcons;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: PWSmallIcons;
  font-size: 36pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 {
  position: absolute;
  top: 230px;
  left: 530px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 257px;
  height: 224px;
  background-color: transparent;
  line-height: 14px;
  font-size: 9pt;
  font-family: Arial;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_1 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_2 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_3 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_4 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_5 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_6 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_7 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_8 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_9 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_10 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_11 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_12 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_13 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_14 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_15 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rich_text_1 span#rtr-s-Rich_text_1_16 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}