#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_1 {
  background-image: url('../../images/[Generated] bc5ac20a-72b3-4e56-975b-b18ab769fabf.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 64px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_3 {
  background-image: url('../../images/[Generated] 9120eb03-ddfd-4d5a-bae6-8baa7ac839df.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 44px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Button_2 {
  background-image: url('../../images/[Generated] 003c632c-a9b6-420a-86d1-3a44beb93575.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 44px;
  height: 34px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-f74e04ec-112f-4e47-9f4c-11814dab8944 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}